@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* variáveis  */
:root {
  --primary-color: #ffff;
  --second-color: rgb(240, 164, 22);
  --dark-primary-color: rgb(237, 235, 235);
}

/* estilos gerais */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-primary-color);
  font-size: 1.3em;
  font-weight: bold;
}

.titulo {
  line-height: 1.2em;
  z-index: 1;
}

.icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.red {
  color: red;
}

/* estilos */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 50px;
}

.buttonTimer:hover {
  opacity: 0.95;
  transform: scale(1.05);
}

.botoes {
  display: flex;
  gap: 20px;
  z-index: 1;
  position: relative;
  top: calc(30% - 25px);
}

.containerTimer {
  display: flex;
  flex-direction: column;
  width: 470px;
  height: 470px;
  border-radius: 50%;
  border: 30px solid var(--primary-color);
  align-items: center;
  justify-content: center;
  background-image: conic-gradient(var(--second-color) 0% 0%, var(--dark-primary-color) 0% 100%);
}

.containerTimer::before {
  content: '';
  width: 400px;
  height: 400px;
  position: absolute;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.timer {
  font-size: 3em;
  text-align: center;
  z-index: 1;
}